.guide-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.guide-grid-cell {
    border: 1px solid var(--green);
}

.grid-text {
    white-space: pre-line;
}

.grid-image {
    height: 50px;
}